<!doctype html>
<title>Download File</title>
<h1>Download File</h1>
<body class="body">
<div class="container" align="left">
    <a href="/task/1">
        <button class='btn btn-default'>Perform Task 1 and Download</button>
    </a>
    <a href="/task/2">
        <button class='btn btn-default'>Perform Task 2 and Download</button>
    </a>
    <a href="/task/3">
        <button class='btn btn-default'>Perform Task 3 and Download</button>
    </a>
    <a href="/return-files/{{value}}" target="blank">
        <button class='btn btn-default'>Download the original file</button>
    </a>
</div>
</body>
